<a name="{{version}}"></a>
{{#if isPatch~}}
	####
	{{~else~}}
	###
{{~/if}} [{{version}}](
{{~#if @root.repository~}}
	{{~#if @root.host}}
		{{~@root.host}}/
	{{~/if}}
	{{~#if @root.owner}}
		{{~@root.owner}}/
	{{~/if}}
	{{~@root.repository}}
{{~else}}
	{{~@root.repoUrl}}
{{~/if~}}
/browse?at={{currentTag}})
{{~#if title}} "{{title}}"{{~/if}}
{{~#if date}} ({{date}}){{~/if}}