<div ng-show="appController.spinner.active" class="spinner text-center">
	<span class="fa fa-spinner fa-spin fa-4x"></span>
</div>

{{#is env.name "prod"}}
	<script src="{{../assets}}js/{{env.app.module}}.min.js"></script>
{{else}}
	{{#each env.resources.vendor.js}}
		<script src="{{../assets}}{{../paths.vendor}}{{this}}"></script>
	{{~/each}}

	{{#each env.resources.app}}
		<script src="{{../assets}}{{this}}"></script>
	{{~/each}}
{{/is}}
