<div ng-show="appController.spinner.active" class="overlay overlay-inverse overlay-fixed">
	<div class="spinner-viewport">
		<span class="spinner fa fa-spinner fa-4x"></span>
	</div>
</div>

<!-- build:jsvendors min/vendors.min.js -->
{{#each project.resources.vendor.js}}
	<script src="{{../project.app.vendor.path}}{{this}}"></script>
{{/each}}
{{#is __ENV__ "DEV"}}
	{{#each project.resources.vendor.dev}}
		<script src="{{../project.app.vendor.path}}{{this}}"></script>
	{{/each}}
	<script src="app/system.config.dev.js"></script>
{{/is}}
<!-- endbuild -->

<!-- build:jsapp min/app.min.js -->
{{#each project.resources.app}}
	<script src="{{this}}"></script>
{{/each}}
{{#is __ENV__ "PROD"}}
	{{#each project.resources.bundles}}
		<script src="{{this}}"></script>
	{{~/each}}
{{/is}}
<!-- endbuild -->