<ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw" role="menu">
	<li role="menuitem" ui-sref-active="active">
		<a href="" ui-sref="home">\{{'i18n.states.home.title' | translate}}</a>
	</li>
	<li role="menuitem" class="dropdown" ng-class="{active: ('samples' | includedByState)}">
		<a href="" role="button" data-toggle="dropdown">
			<span>\{{'i18n.states.samples.title' | translate}}</span>
			<span class="toggle"></span>
		</a>
		<div class="dropdown-menu">
			<ul id="nav-global-samples" class="nav nav-stacked" role="menu">
				<li class="nav-header" role="presentation" ui-sref-active="active">
					<h3>\{{'i18n.states.samples.title' | translate}}</h3>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.datepicker">\{{'i18n.states.samples.datepicker.title' | translate}}</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.multiselect">\{{'i18n.states.samples.multiselect.title' | translate}}</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.navigable" data-toggle="dropdown">\{{'i18n.states.samples.navigable.title' | translate}}</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.schemaValidation" data-toggle="dropdown">
						<span>\{{'i18n.states.samples.schemaValidation.title' | translate}}</span>
						<sup class="text-warning">Experimental</sup>
					</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.navigator">\{{'i18n.states.samples.navigator.title' | translate}}</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.typeahead">\{{'i18n.states.samples.typeahead.title' | translate}}</a>
				</li>
				<li role="menuitem" class="nav-section" ui-sref-active="active">
					<a href="" ui-sref="samples.uiScroll" uib-tooltip="Aka infinite scrolling">\{{'i18n.states.samples.uiScroll.title' | translate}}</a>
				</li>
			</ul>
		</div>
	</li>
	<li role="menuitem" ui-sref-active="active" ng-if="appController.isAuthenticated()">
		<a href="" ui-sref="movies">\{{'i18n.states.movies.title' | translate}}</a>
	</li>
	<!--<li role="menuitem" ui-sref-active="active" ng-if="appController.isAuthorized('admin')">-->
		<!--<a href="">\{{'i18n.states.admin.title' | translate}}</a>-->
	<!--</li>-->
	<li role="menuitem" ui-sref-active="active" ng-if="!appController.isAuthenticated()">
		<a href="" ui-sref="auth">\{{'i18n.states.auth.title' | translate}}</a>
	</li>
</ul>
