<div ng-show="appController.spinner.active" class="overlay overlay-inverse">
	<div class="spinner-viewport">
		<span class="spinner fa fa-spinner fa-4x"></span>
	</div>
</div>

<!-- build:js {{../assets}}min/vendors.min.js -->
{{#each env.resources.vendor.js}}
	<script src="{{../assets}}{{../paths.vendor}}{{this}}"></script>
{{~/each}}
<!-- endbuild -->

<!-- build:js {{../assets}}min/{{env.app.module}}.min.js -->
{{#each env.resources.app}}
	<script src="{{../assets}}{{this}}"></script>
{{~/each}}
<!-- endbuild -->
