<div ng-show="appController.spinner.active" class="overlay overlay-inverse">
	<div class="spinner-viewport">
		<span class="spinner fa fa-spinner fa-4x"></span>
	</div>
</div>

<!-- build:jsvendors min/vendors.min.js -->
{{#each project.resources.vendor.js}}
	<script src="{{../project.app.vendor.path}}{{this}}"></script>
{{/each}}
{{#if dev}}
	{{#each project.resources.vendor.dev}}
		<script src="{{../project.app.vendor.path}}{{this}}"></script>
	{{/each}}
	<script src="app/system.config.dev.js"></script>
{{/if}}
<!-- endbuild -->

<!-- build:jsapp min/app.min.js -->
{{#each project.resources.app}}
	<script src="{{this}}"></script>
{{/each}}
{{#unless dev}}
	{{#each project.resources.bundles}}
		<script src="{{this}}"></script>
	{{~/each}}
{{/unless}}
<!-- endbuild -->

{{#if dev}}
    <h1>FUUBAR</h1>
{{/if}}